@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.anonymous-pro, .header h2 {
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
  font-weight: bold; }

.trebuchet-ms, .header .headertext {
  font-family: "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif; }

.open-sans, dl {
  font-family: "Open Sans", "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  background: #002b36;
  font-size: 1.6em; }

a {
  color: #268bd2; }
  a:link, a:visited, a:active {
    text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.container {
  width: 59.0625em;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
  clear: both; }

.header {
  width: 100%;
  margin-top: 2.5em;
  background: #073642; }
  .header .container {
    display: table; }
  .header .name {
    width: 25%;
    text-align: right;
    display: inline-block; }
  .header .headertext {
    width: 75%;
    display: inline;
    font-size: 1.375em;
    font-style: italic;
    font-weight: bold;
    color: #93a1a1;
    display: table-cell;
    vertical-align: middle; }
  .header h2 {
    text-transform: lowercase;
    color: #b58900;
    font-size: 4em;
    font-weight: 700;
    line-height: 0.6875em;
    margin-top: 0.5em;
    margin-bottom: 0.625em; }

.findme {
  padding: 0.3125em 0 0 2.1875em;
  padding-right: 0;
  height: 1.875em; }

.email {
  height: 2em;
  position: relative;
  margin-bottom: 0.625em;
  margin-top: -0.9375em;
  padding-left: 0; }
  .email span {
    font-size: 2em;
    width: 2em; }
  .email a {
    position: absolute;
    top: 0.9375em;
    left: 2.1875em; }

.facebook {
  background: url(../img/facebook.png) no-repeat 0% 50%; }

.github {
  background: url(../img/github.png) no-repeat 0% 50%; }

.drupal {
  background: url(../img/drupalicon.png) no-repeat 0% 50%; }

dl {
  font-size: 1.25em;
  padding-top: 1.25em;
  margin-bottom: 2.5em; }

dt {
  width: 10.625em;
  float: left;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  color: #93a1a1; }

dd {
  width: 75%;
  margin-left: 25%;
  color: #839496; }

dt.section, dd.section {
  padding-top: 2.1875em; }

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
  body {
    font-size: 140%; } }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  body {
    font-size: 150%; }

  .container {
    width: 100%;
    margin: 0;
    padding: 0; }

  .header {
    margin-top: 0;
    padding: 0 0 1.25em 0; }
    .header h2 {
      margin: 0;
      padding: 0.3125em 0;
      font-size: auto; }
    .header .container {
      display: block; }
    .header .name, .header .headertext {
      width: auto;
      padding: 0 1.25em;
      display: block;
      text-align: center;
      font-size: auto; }

  dt {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center; }

  dd {
    width: 100%;
    margin-left: 0;
    text-align: center; }

  dd.section {
    padding: 0; }

  .email {
    padding: 0;
    margin: 0; }
    .email span {
      display: none; }
    .email a {
      position: initial;
      top: initial;
      left: initial; }

  .findme[data-sitename] {
    padding: 0;
    background: none; }

  .findme[data-sitename]::before {
    content: attr(data-sitename);
    padding-right: 0.625em; } }
