@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$base-font-size: 16px;
@function em($px, $base: $base-font-size) { @return ($px / $base) * 1em; }

$containerPadding: 15px;
$containerWidth: 960px - $containerPadding;
$columnWidth: $containerWidth / 4;
$bgColor: #002b36;
$bgHighlight: #073642;
$textColor: #839496;
$blue: #268bd2;
$yellow: #b58900;

.anonymous-pro {
	font-family: "Anonymous Pro", "Courier New", Courier, monospace;
	font-weight: bold;
}
.trebuchet-ms {
	font-family: "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif;
}
.open-sans {
	font-family: "Open Sans", "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	background: $bgColor;
	font-size: 1.6em;
}

a {
	color: $blue;
	&:link, &:visited, &:active { text-decoration: underline; }
	&:hover { text-decoration: none; }
}

.container {
	width: em($containerWidth);
	padding: 0 $containerPadding;
	height: 100%;
	margin: 0 auto;
	clear: both;
}

.header {
	width: 100%;
	margin-top: em(40px);
	background: $bgHighlight;
	
	.container { display: table; }

	.name {
		width: 25%;
		text-align: right;
		display: inline-block;
	}

	.headertext {
		@extend .trebuchet-ms;
		width: 75%;
		display: inline;
		font-size: em(22px);
		font-style: italic;
		font-weight: bold;
		color: $textColor;
		display: table-cell;
		vertical-align: middle;
	}

	h2 {
		@extend .anonymous-pro;
		text-transform: lowercase;
		color: $yellow;
		font-size: em(64px);
		font-weight: 700;
		line-height: em(11px);
		margin-top: em(8px);
		margin-bottom: em(10px);
	}

}

.findme {
	padding: em(5px) 0 0 em(35px);
	padding-right: 0;
	height: em(30px);
}
.email {
	height: em(32px);
	position: relative;
	margin-bottom: em(10px);
	margin-top: em(-15px);
	padding-left: 0;

	span {
		font-size: em(32px);
		width: em(32px);
	}

	a {
		position: absolute;
		top: em(15px);
		left: em(35px);
	}
}
.facebook {	background: url(../img/facebook.png) no-repeat 0% 50%; }
.github { background: url(../img/github.png) no-repeat 0% 50%; }
.drupal { background: url(../img/drupalicon.png) no-repeat 0% 50%; }

dl {
	@extend .open-sans;
	font-size: em(20px);
	color: $textColor;
	padding-top: em(20px);
	margin-bottom: em(40px);
}

dt {
	width: em(170px);
	float: left;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

dd {
	width: 75%;
	margin-left: 25%;
}

dt.section, dd.section {
	padding-top: em(35px);
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	body {
		font-size: 140%;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body {
		font-size: 150%;
	}

	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.header {
		margin-top: 0;
		padding: 0 0 em(20px) 0;

		h2 {
			margin: 0;
			padding: em(5px) 0;
			font-size: auto;
		}

		.container {
			display: block;
		}
		
		.name, .headertext {
			width: auto;
			padding: 0 em(20px);
			display: block;
			text-align: center;
			font-size: auto;
		}

	}

	dt {
		width: 100%;
		float: none;
		padding: 0;
		text-align: center;
	}

	dd {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	dd.section {
		padding: 0;
	}

	.email {
		padding: 0;
		margin: 0;

		span {
			display: none;
		}

		a {
			position: initial;
			top: initial;
			left: initial;
		}
    }
	.facebook, .github, .drupal {
		padding: 0;
		background: initial;
	}
}