@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$htmlFontSize: 10px;
$baseFontSize: 16px;
@function em($px, $base: $baseFontSize) { @return ($px / $base) * 1em; }


$containerWidth: 960px;
$columnWidth: $containerWidth / 4;
$columnPadding: 25px;

$bgColor: #002b36;
$bgHighlight: #073642;
$textColor: #839496;
$textHighlight: #93a1a1;
$blue: #268bd2;
$yellow: #b58900;

@media only screen {
	.anonymous-pro {
		font-family: "Anonymous Pro", "Courier New", Courier, monospace;
		font-weight: bold;
	}
	.trebuchet-ms {
		font-family: "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif;
	}
	.open-sans {
		font-family: "Open Sans", "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif;
	}
	html {
		font-size: ($htmlFontSize / $baseFontSize) * 100%; // bump down to 10px or 62.5%
	}

	body {
		margin: 0;
		padding: 0;
		background: $bgColor;
		font-size: em($baseFontSize, $htmlFontSize); // bump back up to 16px
	}

	a {
		color: $blue;
		&:link, &:visited, &:active { text-decoration: underline; }
		&:hover { text-decoration: none; }
	}

	.container {
		max-width: $containerWidth;
		height: 100%;
		margin: 0 auto;
		clear: both;
	}

	.left-column {
		width: $columnWidth;
	}
	.right-column {
		max-width: ($columnWidth * 3) - ($columnPadding * 2);
		padding: 0 $columnPadding;
	}

	.header {
		width: 100%;
		margin-top: em(40px);
		background: $bgHighlight;
		
		.container {
			display: table;
		}

		.name {
			@extend .left-column;
			text-align: right;
			display: inline-block;
		}

		.headertext {
			@extend .trebuchet-ms;
			@extend .right-column;
			display: inline;
			font-size: em(22px);
			font-style: italic;
			font-weight: bold;
			color: $textHighlight;
			display: table-cell;
			vertical-align: middle;
		}

		h2 {
			@extend .anonymous-pro;
			text-transform: lowercase;
			color: $yellow;
			font-size: em(64px);
			font-weight: 700;
			line-height: em(11px);
			margin-top: em(8px);
			margin-bottom: em(10px);
		}

	}

	.findme {
		padding: 5px 0 0 40px;
		padding-right: 0;
		height: 35px;
		margin-left: $columnWidth + 32px;
	}
	.email {
		position: relative;
		margin-bottom: em(10px);
		margin-top: em(-15px);
		padding-left: 0;

		span {
			font-size: em(30px);
			width: 32px;
		}

		a {
			position: absolute;
			top: 18px;
			left: 40px;
		}
	}
	.facebook {	background: url(../img/facebook.png) no-repeat 0% 50%; }
	.github { background: url(../img/github.png) no-repeat 0% 50%; }
	.drupal { background: url(../img/drupalicon.png) no-repeat 0% 50%; }

	dl {
		@extend .open-sans;
		font-size: em(20px);
		padding-top: 20px;
		margin-bottom: em(40px);
	}

	dt {
		@extend .left-column;
		float: left;
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		color: $textHighlight;
	}

	dd {
		@extend .right-column;
		margin-left: $columnWidth;
		color: $textColor;
	}

	dt.section, dd.section {
		padding-top: 35px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	body {
		font-size: 140%;
	}
}

@media only screen and (max-width: 660px), only screen and (max-device-width: 660px) {
	body {
		font-size: 150%;
	}

	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.header {
		margin-top: 0;
		padding: 25px 0 20px 0;

		h2 {
			margin: 0;
			padding: 5px 0;
			font-size: auto;
		}

		.container {
			display: block;
		}
		
		.name, .headertext {
			width: auto;
			padding: 0 20px;
			display: block;
			text-align: center;
			font-size: auto;
		}

	}

	dt {
		width: 100%;
		float: none;
		padding: 0;
		text-align: center;
	}

	dd {
		width: 100%;
		margin-left: 0;
		text-align: center;
		padding: 0;
	}
	dd.section {
		padding: 0;
	}

	.email {
		position: static;
		padding: 0;
		margin: 0;

		span {
			display: none;
		}

		a {
			position: static;
		}
    }
    .findme {
    	padding: 0;
    	margin: 0;
    	height: auto;
    }
    .findme[data-sitename] {
    	padding: 0;
		background: none;
    }
    .findme[data-sitename]::before {
		content: attr(data-sitename);
		padding-right: 10px;
	}
}

@media only print {
	.email span { display: none; }
	.findme[data-sitename]::before {
		content: attr(data-sitename);
		padding-right: 10px;
	}
}