@include global-reset;
@include establish-baseline;

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;

  @include breakpoint($breakpoint-narrow-max) {
    @include adjust-font-size-to(80%);
  }
}

a {
  @include hover-link;
  @include link-colors($blue);
}
