// Breakpoint
$breakpoint-mobile:       max-width 660px;
$breakpoint-narrow:       min-width 661px;
$breakpoint-narrow-max:   max-width 1024px;
$breakpoint-wide:         min-width 1024px;

// Colors
$color-bg:              #002b36;
$color-bg-highlight:    #073642;
$color-text:            #839496;
$color-text-highlight:  #93a1a1;
$color-blue:            #268bd2;
$color-yellow:          #b58900;
