@import "fontello";

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

%monospace { font-family: "Anonymous Pro", "Courier New", Courier, monospace; }
%sans-serif-1 { font-family: "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif; }
%sans-serif-2 { font-family: "Open Sans", "Trebuchet MS", Helvetica, Tahoma, Verdana, sans-serif; }
