
.icon-location:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-drupal:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-steam:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-stackoverflow:before { content: '\e807'; } /* '' */
.icon-flickr:before { content: '\e808'; } /* '' */
.icon-codepen:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-smile:before { content: '\e80d'; } /* '' */