// Breakpoint
$breakpoint-mobile:       max-width 26em;
$breakpoint-narrow:       min-width 26em;

// Colors
$color-bg:              #002b36;
$color-bg-highlight:    #073642;
$color-text:            #839496;
$color-text-highlight:  #93a1a1;
$color-blue:            #268bd2;
$color-yellow:          #b58900;
