@include global-reset;
@include establish-baseline;

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $color-bg;
  font-family: "Open Sans", Helvetica, Tahoma, sans-serif;
  color: $color-text;
}

a {
  @include hover-link;
  @include link-colors($color-blue);
}
