#container
  #box
    .top Andrew Berger
    .bottom
      %ul
        - data.index.social_links.each do |link|
          %li{data: {sitename: link.sitename || nil}}<
            %i.icon{class: 'icon-' + link.css_class}
            = link_to link.text, link.url
