#container
  #box
    .top Andrew Berger
    .bottom
      %ul
        - data.index.each do |link|
          %li{data: {sitename: link.name || nil}}<
            %object.icon{data: "/images/#{link.icon}.svg", class: "icon-#{link.icon}", type: "image/svg+xml"}= link.name
            - if link.url.nil? || link.url.empty?
              = link.text
            - else
              = link_to link.text, link.url
