#box {
  text-align: center;
  margin: 0 auto;

  .top {
    padding: 0.5em;
    color: $color-yellow;
    line-height: 0.6em;
    font-family: "Anonymous Pro", monospace;
    font-size: 4em;
    font-weight: bold;
    text-transform: lowercase;
  }
  
  .bottom {
    line-height: 1.8em;
    padding-bottom: 2em;
  }

  // fade in
  @include animation-duration(1s);
  @include animation-fill-mode(forwards);
  @include animation-name(fadeIn);

  @include breakpoint($breakpoint-mobile) {
    width: 100%;

    .top, .bottom {
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }

    .top {
      width: 4em;
      padding-left: 0 !important;

    }

    .bottom {
      text-align: left;
      width: 12em;
    }
  }

  @include breakpoint($breakpoint-narrow) {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10em 0 0 -10em;
    border: 0.5em dashed $color-bg-highlight;

    .bottom {
      width: 66%;
      margin: 0 auto;
      text-align: left;
      padding-left: 1em;
    }
  }
}

@include keyframes(fadeIn) {
    0% {opacity: 0;}
  100% {opacity: 1;}
}
