.icon {
    width: 1.125em;
    height: 1.125em;
    margin-bottom: -0.15em;
    margin-right: 0.3em;
}

.no-svg .icon {
    &.icon-location { background-image: url('/images/location.png'); }
    &.icon-education { background-image: url('/images/education.png'); }
    &.icon-gthb { background-image: url('/images/gthb.png'); }
    &.icon-lnkdin { background-image: url('/images/lnkdin.png'); }
}
