#info {  
  @include rhythm-margins(1.5);

  dl {
    @extend %sans-serif-2;
    @include adjust-font-size-to(20px, 1.3);
  }

  dt {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
  }

  dt.section-start {
    @include leader(2);
  }

  dd.section-start {
    @include leader(1);
  }

  @include breakpoint($breakpoint-mobile) {
    dt, dd {
      text-align: center;
    }
    dd.section-start {
      margin-top: 0;
    }
  }
}
