#container {
  height: 100%;

  @include breakpoint($breakpoint-mobile) {
    font-size: 80%;
  }

  @include breakpoint($breakpoint-narrow) {
    position: relative;

    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10em 0 0 -10em;
    }
  }
}
